<section class="tab-content" id="speakers">
    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-kilian-header.png" alt="Kilian Valkhof">
            <div class="banner-photo">
                <img src="../images/spreker-kilian.png" alt="Kilian Valkhof">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-kilian.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Kilian <br> <span>@kilianvalkhof</span></h2>
            <p>Kilian Valkhof </p>
        </div>
    </div>

    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-peter-header.png" alt="Peter Paul Koch">
            <div class="banner-photo">
                <img src="../images/spreker-peter.png" alt="Peter Paul Koch">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-peter.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Peter <br> <span>@PeterPaulKoch</span></h2>
            <p>Peter Paul Koch</p>
        </div>
    </div>

    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-nils-header.png" alt="Nils Binder">
            <div class="banner-photo">
                <img src="../images/spreker-nils.png" alt="Nils Binder">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-nils.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Nils <br> <span>@nilsbinder</span></h2>
            <p>Nils Binder is een ervaren webontwikkelaar en spreker die bekend staat om zijn diepgaande kennis van
                moderne webtechnologieën.</p>
        </div>
    </div>

    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-sanne-header.png" alt="Sanne 't Hooft">
            <div class="banner-photo">
                <img src="../images/spreker-sanne.png" alt="Sanne 't Hooft">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-sanne.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Sanne <br> <span>@shooft</span></h2>
            <p>Sanne 't Hooft</p>
        </div>
    </div>

    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-robbert-header.png" alt="Robbert Broersma">
            <div class="banner-photo">
                <img src="../images/spreker-robbert.png" alt="Robbert Broersma">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-robbert.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Robbert <br> <span>@robbertbroersma</span></h2>
            <p>Robbert Broersma </p>
        </div>
    </div>

    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-rosa-header.png" alt="Rosa Schuurman">
            <div class="banner-photo">
                <img src="../images/spreker-rosa.png" alt="Rosa Schuurman">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-rosa.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Rosa <br> <span>@rosaschuurman</span></h2>
            <p>Rosa Schuurman </p>
        </div>
    </div>

    <div class="speaker-content-container">
        <div class="speaker-banner">
            <img class="banner-image" src="../images/spreker-johan-header.png" alt="Johan Huijkman">
            <div class="banner-photo">
                <img src="../images/spreker-johan.png" alt="Johan Huijkman">
            </div>
        </div>

        <div class="speaker-content">
            <button class="speaker-banner-btn">
                <a href="/sprekers/wn-johan.html">
                    bekijk profiel
                </a>
            </button>
            <h2>Johan <br> <span>@johanhuijkman</span></h2>
            <p>Johan Huijkman </p>
        </div>
    </div>
</section>