@import "./fonts.css";
@import "./base.css";
@import "./spreker.css";
@import "./vakken.css";
@import "./reflection.css";

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-xl);

    width: 100%;
    padding: var(--size-4xl) var(--size-2xl);
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    transition: opacity 0.3s ease;
}

body.dimmed .overlay {
    display: block;
}

body.index h1,
body.index h2 {
    color: var(--colour-primary);
}

/* header styling */
.header-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    width: 100%;

    text-align: center;

    & div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        gap: var(--size-xxs);
    }

    & h2 {
        font-size: var(--size-xl);
    }
}

.header-image {
    position: relative;
    margin-top: var(--size-xl);
    min-height: 200px;
    width: 100%;

    & img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        transition: transform 0.3s ease;
    }

    & .item-header:nth-child(2) {
        width: 40vw;
        transform: translate(-90%, 0%) rotate(-10deg);
        cursor: pointer;
    }

    & .item-header:nth-child(2):hover {
        transform: translate(-90%, -25%) rotate(-10deg);
    }

    & .item-header:nth-child(2).is-active {
        z-index: 101;
        transform: translate(-50%, -200%) rotate(0deg) scale(1.3);
    }

    & .item-header:nth-child(3) {
        width: 50vw;
        transform: translate(0%, 0%) rotate(10deg);
        cursor: pointer;

        &:hover {
            transform: translate(0%, -25%) rotate(-10deg);
        }

        &.is-active {
            z-index: 101;
            transform: translate(-50%, -200%) rotate(0deg) scale(1.3);
        }
    }

    & .item-header:nth-child(4) {
        width: 40vw;
        transform: translate(-20%, 0%) rotate(0deg);
        cursor: pointer;

        &:hover {
            transform: translate(-20%, -25%) rotate(10deg);
        }

        &.is-active {
            z-index: 101;
            transform: translate(-50%, -200%) rotate(10deg) scale(1.3);
        }
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -20%);
    background: var(--colour-background);
    padding: 2rem;
    border-radius: 1rem;
    z-index: 100;
    min-width: 80vw;
}

.popup.is-active {
    display: block;
}

.popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.dimmed::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

/* spreker styling */
.spreker-content {
    text-align: center;
}

.index {
    overflow-x: hidden;
}

/* flip animatie */
/* .sprekers-container{
  perspective: 800px;
}

.sprekers-cardd {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}

.sprekers-card:hover {
  animation: flip 4s infinite linear;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background: lightcoral;
}

.front {
  background: lightblue;
}

@keyframes flip {
  to {
    transform: rotateY(360deg);
  }
} */

.sprekers-container {
    perspective: 800px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-4xl);
    cursor: pointer;
}

.sprekers-card {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;

    transition: transform 0.6s;
}

/* de hover zit nu op een container ipv de kaart zelf zodat hover het niet raar doet */
.sprekers-card-container:hover .sprekers-card {
    transform: rotateY(180deg) scale(1.2);
    z-index: 2;
}

.sprekers-container:has(.sprekers-card:hover) .sprekers-card {
    transform: scale(0.9);

    & img {
        filter: brightness(0.7) grayscale(100%);
    }
}

.sprekers-container:has(.sprekers-card:hover) .sprekers-card:hover {
    transform: rotateY(180deg) scale(1.2);

    & img {
        filter: brightness(0.7) grayscale(0%);
    }
}

.front,
.back {
    border-radius: var(--size-2xl);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.sprekers-card button {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 1em;
    right: 1em;

    background: var(--colour-primary);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 8px;

    & svg {
        color: var(--colour-background);
    }
}

.back {
    background: var(--colour-text);
    color: var(--colour-background);
    transform: rotateY(180deg);
    padding: var(--size-2xl) var(--size-xl);

    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    justify-content: center;
    align-items: center;
}

.back h2 {
    color: var(--colour-background);
    font-family: "ClashDisplay-semibold", serif;
    text-transform: uppercase;
}

.back-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-xxs);
}

.back p {
    font-family: "Archivo-Regular", serif;
    font-size: var(--size-xs);
    text-align: center;

    border: solid 1px var(--colour-background);
    width: 100%;
    border-radius: 25px;
    padding: var(--size-xxs) var(--size-xs);
}

/* .sprekers-container{
    animation-name: appear-from-left;
    animation-timeline: view();
    animation-range: cover 0% contain 10%;
    animation-fill-mode: both;
} */

.spreker-content h1,
.spreker-content p:not(.back-content p) {
    animation-name: appear-from-right;
    animation-timeline: view();
    animation-range: cover 0% contain 50%;
    animation-fill-mode: both;
}

footer {
    text-align: center;
    padding: var(--size-2xl) var(--size-2xl);
    background-color: var(--colour-primary);
    color: var(--colour-background);
    font-family: "Archivo-Regular", serif;
    font-size: var(--size-sm);
}

/* vakken */
/* .vakken-content-wrapper {
}
.vakken-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-4xl);
    width: 100%;
}

.vakken-content .vak-link {
    display: block;
    width: 100%;
    border: 1px solid var(--colour-primary);
    border-radius: var(--size-2xl);
    padding: var(--size-2xl);
    background-color: var(--colour-background);
    text-decoration: none;
    color: var(--colour-text);

    & article {
        display: flex;
        flex-direction: column;
        gap: var(--size-2xl);
        align-items: center;

        & div{
            display: flex;
            flex-direction: column;
            gap: var(--size-xxs);
            align-items: center;
        }

        & button{
            background-color: var(--colour-primary);
            color: var(--colour-background);
            border: none;
            width: 60%;
            text-transform: uppercase;
            padding: var(--size-xxs) var(--size-base);
            border-radius: 25px;
        }
    }

    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: var(--size-2xl);
    }
} */

.wrapper-vakken {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .vakken-title {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & a {
            text-decoration: none;
            color: var(--colour-primary);
            font-family: "Archivo-Regular", serif;

            display: flex;
            align-items: center;
            gap: var(--size-xxs);

            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%236388d3' width='16' height='16'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'/%3E%3C/svg%3E");
                display: block;
                transition: width 0.3s;
                height: 20px;
            }
        }
    }
}


.vakken-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    width: 100%;

    & .vak {
        background-color: var(--colour-primary);
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: var(--size-sm);
        position: relative;
        overflow: hidden;

        background-image: url('../images/vak-sprint-0.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        & .vak-gradient {
            /* opacity: 0; */
            width: 100%;
            height: 100%;
            background: #91a6c7;
            background: linear-gradient(180deg, rgba(145, 166, 199, 0) 28%, rgba(12, 34, 66, 1) 100%);
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

            transition: all 0.3s ease;
        }

        & .vak-text h3,
        & .vak-text p {
            /* opacity: 0; */
            color: var(--colour-background);
            position: relative;
            z-index: 1;

            transition: all 0.3s ease;
        }
    }

    #vak-2 {
        background-image: url('../images/vak-css.png');
    }

    #vak-3 {
        background-image: url('../images/vak-bt.png');
    }

    /* & .vak:hover .vak-gradient,
    & .vak:hover .vak-text h3,
    & .vak:hover .vak-text p {
        opacity: 1;
    } */
}

/* animaties */
@keyframes appear {
    0% {
        opacity: 0%;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes appear-from-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appear-from-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    section {
        padding: var(--size-6xl) var(--size-4xl);
    }

    p {
        font-size: var(--size-sm);
    }

    .header-container {
        align-self: center;
        text-align: center;
        width: 60%;

        margin-top: -5em;

        & div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            gap: var(--size-xxs);
        }

        & .header-image {
            position: relative;
            margin-top: var(--size-9xl);
            min-height: 300px;
            width: 100%;

            & img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;

                transition: transform 0.3s ease;
            }

            & .item-header:nth-child(2) {
                width: 15vw;
                transform: translate(-120%, -60%) rotate(-10deg);
                cursor: pointer;
            }

            & .item-header:nth-child(2):hover {
                transform: translate(-120%, -75%) rotate(-10deg);
            }

            & .item-header:nth-child(2).is-active {
                transform: translate(-240%, -140%) rotate(0deg) scale(1.8);
            }

            & .item-header:nth-child(3) {
                width: 25vw;
                transform: translate(0%, 0%) rotate(10deg);
                cursor: pointer;

                &:hover {
                    transform: translate(0%, -25%) rotate(10deg);
                }

                &.is-active {
                    transform: translate(-170%, -60%) rotate(0deg) scale(1.8);
                }
            }

            & .item-header:nth-child(4) {
                width: 15vw;
                transform: translate(-40%, -40%) rotate(0deg);
                cursor: pointer;

                &:hover {
                    transform: translate(-40%, -65%) rotate(0deg);
                }

                &.is-active {
                    transform: translate(-220%, -100%) rotate(10deg) scale(1.8);
                }
            }
        }
    }

    .popup {
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
        padding: 2rem;
        border-radius: 1rem;
        z-index: 100;
        min-width: 300px;
    }

    .index {
        gap: var(--size-9xl);
    }

    .index h1,
    .speakers h1 {
        font-size: var(--size-8xl);
        font-style: italic;
        color: var(--colour-primary);
    }

    .index h2 {
        font-size: var(--size-xl);
        color: var(--colour-primary);
        font-family: "ClashDisplay-light", serif;
        text-transform: uppercase;
    }

    .back h2 {
        font-size: var(--size-xl);
    }

    .sprekers-container {
        flex-direction: row;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .sprekers-container {
        animation-name: appear-from-left;
        animation-timeline: view();
        animation-range: cover 0% contain 10%;
        animation-fill-mode: both;
    }

    .vakken-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper-vakken {
        & h2 {
            font-size: var(--size-4xl);
            font-family: 'clashdisplay-semibold', serif;
            font-style: italic;
        }

        & .vakken-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--size-2xl);

            & .vak {
                height: 300px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    section {
        padding: var(--size-6xl) var(--size-6xl);
    }

    p {
        font-size: var(--size-base);
    }

    .vakken-container {
        & .vak-gradient,
        & .vak-text h3,
        & .vak-text p{
            opacity: 0;
            transform: translateY(10px);
        }

        & .vak:hover .vak-gradient,
        & .vak:hover .vak-text h3,
        & .vak:hover .vak-text p {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}